.wrapper {
  display: flex;
  gap: 6px;
  width: 100%;
  justify-content: center;
}

.btn_list {
  gap: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  font-size: 18px;
  width: 34px;
  height: 34px;
}

.arrow {
  font-size: 24px;
  height: 34px;
  min-width: 44px;
}

.btn, .arrow {
  border: none;
  background-color: var(--contrast-bgcolor);
  color: var(--contrast-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
  user-select: none;
}

.btn:active, .arrow:active {
  transform: scale(1.1);
  box-shadow: var(--bgcolor) 0 0 10px 2px;
}

.btn:disabled {
  pointer-events: none;
  background-color: var(--loading-bg);
  color: var(--primary-text-color);
}

@media (max-width: 768px) {
  .btn {
    width: calc(100% / 6);
  }

  .arrow {
    height: auto;
    min-height: 34px;
  }
}