.item {
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.2s;
  cursor: default;
}

.title {
  font-size: 14px;
}

.extra {
  font-size: 12px;
  color: #6c7072;
}

.info {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.image {
  width: 64px;
  height: 64px;
  background-color: var(--loading-bg);
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

@media (hover: hover) {
  .item:hover {
    background-color: #00000022;
  }
}

@media (hover: none) {
  .item:active {
    background-color: #00000022;
  }
}