.item {
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 10px;
  border-radius: 6px;
  transition: all 0.3s;
  border: 2px solid var(--grey);
  cursor: pointer;
}

.item:active {
  transform: translateY(-6px);
}

.title {
  font-size: 14px;
}

.extra {
  font-size: 12px;
  color: #6c7072;
}

.info {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.image {
  width: 64px;
  height: 64px;
  background-color: var(--loading-bg);
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
  border-radius: 6px;
}

@media (hover: hover) {
  .item:hover {
    background-color: var(--grey);
  }
}

@media (hover: none) {
  .item:active {
    background-color: var(--grey);
  }
}