.wrapper {
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: flex-start;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 6px;
}

.wrapper::-webkit-scrollbar {
  height: 4px;
  background-color: var(--grey);
  border-radius: 3px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--contrast-bgcolor);
  border-radius: 3px;
  padding: 3px;
  cursor: grab;
}

.wrapper::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.item, .active {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: 16px;
  cursor: pointer;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  color: var(--primary-text-color);
  transition: all 0.3s;
}

.active {
  color: var(--contrast-bgcolor);
  font-weight: 500;
  border: 1px solid var(--contrast-bgcolor);
}

@media (max-width: 768px) {
  .wrapper::-webkit-scrollbar {
    height: 6px;
  }
}