.wrapper {
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: flex-start;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.item, .active {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: 16px;
  cursor: pointer;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  color: var(--primary-text-color);
  transition: all 0.3s;
}

.active {
  color: var(--contrast-bgcolor);
  font-weight: 500;
  border: 1px solid var(--contrast-bgcolor);
}

::-webkit-scrollbar {
  display: none;
}