.wrapper {
  display: flex;
  width: 100%;
  background-color: var(--bgcolor);
  gap: 12px;
}

.input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: 2px solid var(--loading-bg);
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s;
}

.input:focus {
  outline: 2px solid var(--contrast-bgcolor);
}