.btn {
  background-color: transparent;
  border: none;
  color: var(--contrast-text-color);
  font-size: 2.3rem;
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
  will-change: filter;
}

.btn:active {
  transform: scale(0.95);
}
