:root {
  --bgcolor: #FCF7F4;
  --contrast-bgcolor: #990012;
  --primary-text-color: #080808;
  --secondary-text-color: #5A5A5A;
  --contrast-text-color: var(--bgcolor);
  --loading-bg: #bbbbbb;

  --red-color: #FF0000;
  --green-color: #3BB33B;
}

* {
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a:visited, a {
  color: inherit;
}

.container {
  padding: 24px;
  min-height: 100vh;
}