:root {
  --bgcolor: #FFFFFF;
  --contrast-bgcolor: #990012;
  --primary-text-color: #080808;
  --secondary-text-color: #5A5A5A;
  --grey: #e5e5e5;
  --contrast-text-color: var(--bgcolor);
  --loading-bg: #bbbbbb;

  --red-color: #FF0000;
  --green-color: #3BB33B;
}

* {
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a:visited, a {
  color: inherit;
}

.container {
  padding: 24px;
  min-height: 100vh;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--loading-bg);
}
