.title {
	display: inline-block;
	width: fit-content;
	font-size: 32px;
	user-select: none;
}

.underline {
	background-color: var(--contrast-bgcolor);
	height: 2px;
	width: 100%;
	border-radius: 6px;
}
